

.container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: center; */
  width: 80%;
  height: 700px;
  margin: 0 auto;
  border: 1px solid black;
  /* align-items: baseline; */
  /* gap: 1.5rem; */
  flex-wrap:nowrap
}

.item {
    display: flex;
    background: rgb(212, 94, 94);
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 1px;
    justify-content: center;
    align-items: center;
}
.item-1 {
    font-size: 1.5rem;
    flex-grow: 1;
} 
.item-2{
    flex-grow: 1;
    align-self: center;
}
.item-3{
    flex-grow: 1;
}
/* order: -1; */
/* flex-grow: 1; */
/* flex-shrink: 1; */
/* flex-basis: 0; */